.product-container{
  background-color: rgb(224, 224, 224);
  display: flex;
  margin: 0px;
  height: 100vh;
  padding: 12px;
  justify-content:space-evenly;
}


.prod{
  width: 55%;
  padding: 12px;
  max-width: 400px;
  min-width: 320px;
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  display:  flex;
  flex-direction: column;
  max-height: 420px;
  box-shadow: 5px 10px 15px 2px rgba(0,0,0,0.31);
  margin: 4px;
}
.prodimg
{
  width: 100%;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  height: 200px;
  background-color: white;
  box-sizing: border-box;
}

.price{
  font-size: 17pt;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}
.price ::before
{
  content: '$';
}
.price sup::before
{
  content: ' ';
}
.stock{
  color: green;
}
.lowstock{
  color:red;
}

.butt
{
  border: 1px solid rgb(170, 43, 43);
  background-color: rgb(170, 43, 43);
  color: white;
  font-family: 'Noto Sans', sans-serif;
  transition: all 0.7s;
  box-sizing: border-box;
}

.butt:hover
{
  background-color: white;
  color: rgb(170, 43, 43);
}

h1
{
  font-size: 17px;
}
.nostock
{
  color: gray;
}
